<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<!-- DB의 정보를 가지고 있는 file을 연결하는 태그 -->
	<properties resource="db/db"></properties>

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${driver}" />
				<property name="url" value="${url}" />
				<property name="username" value="${username}" />
				<property name="password" value="${password}" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="model/joinMapper.xml" />
		<mapper resource="model/searchMapper.xml" />
		<mapper resource="model/cartMapper.xml" />
		<mapper resource="model/reviewMapper.xml"/>
	</mappers>
</configuration>