<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="model/joinMapo">

	<!-- Member(web_member테이블)에 관한 sql 문장 파일! -->

	<!-- 회원가입을 위한 sql문장 연결되어야 하는 데이터 값은 클래스의 필드이름을 기준으로 한다. -->
	<insert id="join" parameterType="model.memberDTO">
		insert into tb_member
		values(#{id},#{pw},#{gender},#{birthdate},now(),#{m_allergy},#{phone_number},#{m_address},#{mem_name})
	</insert>

	<!-- 로그인을 위한 sql문장 -->
	<select id="login" parameterType="model.memberDTO"
		resultType="model.memberDTO">
		select * from tb_member where id=#{id} and pw=#{pw}
	</select>

	<!-- 가입의 여부를 판단할 수 있는 sql문장 -->
	<select id="check" parameterType="string"
		resultType="model.memberDTO">
		select * from tb_member where id=#{id}
	</select>

	<!-- 회원 정보 수정 할 수 있는 sql문장 -->
	<update id="change" parameterType="model.memberDTO">
		update tb_member set pw=#{pw}, m_allergy=#{m_allergy}, phone_number=#{phone_number}, address=#{address} where id=#{id};
	</update>
	
	<!-- DB의 모든 제품을 가져오는 sql문장 -->
	<select id="filltering" resultType="model.productDTO">
		select * from tb_product
	</select>
	
	<!-- DB의 모든 알레르기성분을 가져오는 sql문장 -->
	<select id="allergy" resultType="model.allergyDTO">
		select * from tb_allergy
	</select>
</mapper>