<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="model.searchMapper">

<!-- 검색기능을 위한 sql문 -->
<!-- search타입이 string 타입이니 parameterType도 string 써준다. -->
<!-- resultType(보내는값)은 searchDTO으로 보내준다. -->
	<select id="allList" parameterType="String"
	resultType="model.productDTO">
	select * from tb_product where pro_name LIKE CONCAT('%',#{search},'%') or pro_maker LIKE CONCAT('%',#{search},'%')
	</select>

	<!-- DB의 모든 알레르기성분을 가져오는 sql문장 -->
	<select id="allergy" resultType="model.allergyDTO">
		select * from tb_allergy
	</select>

	<!-- 제품코드를 통해 제품데이터를 가져오는 sql문장 -->
	<select id="product" parameterType="String" resultType="model.productDTO">
		select * from tb_product where pro_code=#{prod_code}
	</select>










</mapper>