/* 외부에서 폰트 불러오기 : noto sans */
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * {
	font-family: 'Noto Sans KR', sans-serif;
}


* {
	margin: 0;
	padding: 0;
	font-family: 'Noto Sans KR', sans-serif;
}

/* 전체 페이지 사이즈 설정 */
.wrap{
	height: 1280px;
    width: 1280px;
    margin: 0 auto;
}

/* 회원가입 페이지 설정*/

.join {
	position: relative;
    margin: 0 auto;
	top: 100px;
	width: 600px;
	height: auto;
	border-radius: 15px;
	text-align: center;
	box-shadow: 0 0px 18px -8px rgba(0, 0, 0, 1);
	margin-bottom:100px;
}

.join>img {
	margin-top: 20px;
}

h3{
	margin-bottom : 30px;
}	

.joinBox {
	font-weight: 700;
	margin: 0 auto;
	width: 500px;
}

.userData {
	margin: 0 auto;
	width: 300px;
}

.userData>p {
	text-align: left;
}

.userData>input {
	color: #d6d6d6;
	border: 1.5px solid #4c4c4c;
	padding: 5px;
	box-sizing: border-box;
	height: 50px;
	width: 300px;
	border-radius: 10px;
	margin-top: 10px;
}


.gender {
	width: 30px;
}

/* 체크박스 css */


.checkboxList {
	width: 300px;
	margin: 0 auto;
}

/* 알러지 체크영역 제목 */
.allergy{
	margin: 20px 0 20px 0;
}

/* 회원가입 버튼 */

.btn{
	padding: 30px 0 50px 0;
}

#joinBtn{
	cursor: pointer;
    color: white;
    font-size: 20px;
    height: 50px;
    background: #A2DD98;
    width: 300px;
    border: none;
    border-radius: 10px;
    font-weight: 700;
}