/* 외부에서 폰트 불러오기 : noto sans */
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * {
	font-family: 'Noto Sans KR', sans-serif;
}


* {
	margin: 0;
	padding: 0;
	font-family: 'Noto Sans KR', sans-serif;
}

/* 전체 페이지 사이즈 설정 */
.wrap{
	height: 1600px;
    width: 1280px;
    margin: 0 auto;
}

/* 회원가입 페이지 설정*/

.join {
	position: relative;
    margin: 0 auto;
	top: 100px;
	width: 600px;
	height: auto;
	border-radius: 15px;
	text-align: center;
	box-shadow: 0 0px 18px -8px rgba(0, 0, 0, 1);
	margin-bottom:100px;
}

.join>img {
	margin-top: 50px;
}

h3{
	margin-top:30px;
	margin-bottom : 35px;
}	

.joinBox {
	font-weight: 700;
	margin: 0 auto;
	width: 500px;
	padding-bottom: 25px;
}

.userData {
	margin: 0 auto;
	width: 300px;
}

/* 각 정보값 별 제목 */
.userData>p {
	text-align: left;
	margin-top: 20px;
}

.userData>input {
	color: rgb(0, 0, 0);
	border: 1.5px solid #4c4c4c;
	padding: 10px;
	box-sizing: border-box;
	height: 50px;
	width: 300px;
	border-radius: 10px;
	margin-top: 10px;
}


/* 비밀번호 옆 별 속성 */
.passwordStar{
	color:#ff3b42;
}


.gender {
	width: 30px;
}

/* 성별 체크박스 정렬 */
.genderBox{
	margin-top:20px;
	text-align: left;
}



/* 알레르기 체크박스 영역 제목 */
.allergySubject {
	margin:50px 0 30px 0;
	color: #ff3b42;
	font-weight: 900;
}


/* 체크박스 css */


.checkboxList {
	width: 450px;
	margin: 0 auto;
	text-align: center;
}

.innerCheckbox{
	text-align: left;
	width: 400px;
	margin: 0 auto;
}


/* 알러지 체크영역 제목 */
.allergy{
	margin: 20px 0 20px 0;
}

.checkbtn{
	margin-right:12px;
	margin-left:12px;
}



/* 회원가입 버튼 */

.btn{
	margin: 10px 0 0 0 ;
	padding: 30px 0 50px 0;
}

#joinBtn{
	cursor: pointer;
    color: white;
    font-size: 20px;
    height: 50px;
    background: #A2DD98;
    width: 300px;
    border: none;
    border-radius: 10px;
    font-weight: 700;
}