/* 외부에서 폰트 불러오기 : noto sans */
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * {
	font-family: 'Noto Sans KR', sans-serif;
}

/* -----------------Header----------------- */

/* 전체 폰트 적용 및 기본 여백 삭제*/
* {
	margin: 0;
	padding: 0;
	font-family: 'Noto Sans KR', sans-serif;
}

/* a태그 기본 스타일 리셋 */
a {
	text-decoration: none;
	color: black;
}


li {
	list-style-type: none;
}

/* 전체 중앙 정렬 */
#wrap {
	margin: 0 auto;
}


/* 전체 header 크기 정의 */
#header {
	position: relative;
	width: 100%;
}

/* 안쪽 header 크기 정의 및 중앙 정렬 */
#innerHeader {
	position: relative;
	width: 1280px;
	margin: 0 auto;
}

/* 로그아웃, 마이페이지, 장바구니 버튼 및 사용자 환영 안내글*/
#topBtn {
	position: absolute;
	width: 98%;
	text-align: right;
}

/* 사용자 환영 안내글 상단 여백 */
#topBtn>p {
	margin-top: 15px;
}


/* 사용자 이름 영역 */
.username{
	color: #ff3b42;
	font-weight:800;
}


/* 로고 및 검색창 */
#schBox {
	position: absolute;
	width: 100%;
	height: 90px;
	top: 60px;
	
	align-items: center;
    justify-content: center;
    display: flex;
	
}

#schBox > a{
	position: relative;
}


/* 로고 */
#schBox>a>img {
	margin-top: 20px;
}

/* 검색창 박스 전체 속성 변경 */
.schBar {
	margin-top: 30px;
    flex-basis: 80%;
    position: relative;
    margin-left: 20px;
	display: inline;
}


/* 검색바 설정*/
#search {
	width: 100%;
	border: 1px solid #bbb;
	border-radius: 100px;
	padding: 10px 12px;
	font-size: 14px;
}

/* 외부에서 끌어온 돋보기 아이콘 css 전체 속성 */
.material-symbols-outlined {
	font-variation-settings:
		'FILL' 0,
		'wght' 400,
		'GRAD' 0,
		'opsz' 24
}

.iconBox {
	display: inline-block;
	position: absolute;
    top: 8px;
    right: 10px;
}

.schIcon {
	background: white;
	border: none;
}


/* 메뉴바 */
#nav {
	position: absolute;
	width: 100%;
	background-color: #8ED881;
	top: 170px;
	display: flex;
	justify-content: center;
}

#gnb {
	list-style-type: none;
	width: 100%;
	margin: 0 auto;
	padding: 0;
	display: flex;
	justify-content: center;
}

/* 전체 메뉴 정렬 및 비율 조정*/
#gnb>li {
	float: left;
	margin: 10px 7% 10px 7%;
}

/* 메뉴 안쪽 a태그 속성 정리 */
#gnb>li>a {
	color: white;
	font-weight: 500;
}


/* -----------------container----------------- */

#container {
	position: relative;
	width: 1280px;
	margin: 0 auto;
	top: 214px;
}


/* 서브 메뉴 */

/* 메뉴 전체 영역 */
#leftMenu {
	position: relative;
	float: left;
	width: 180px;
	top: 25px;
	left: 0;
}

/* 각 버튼 속성 */
.leftmenuBtn {
	width: 100%;
	background: rgb(255, 79, 79);
    box-sizing: border-box;
    padding: 7px;
    border: none;
    border-radius: 7px;
    margin-bottom: 10px;

    color: white;
    font-weight: 700;
    font-size: 14px; 
}

#editData, #autoApply{
	 box-shadow: 0 0px 14px -8px rgba(0, 0, 0, 1);
}


/* 알레르기 추가 체크 서비스 버튼 */
.leftmenuBtn3 {
	margin:0;
	border-radius: 7px 7px 0 0;
	  box-shadow: 0 0px 14px -8px rgba(0, 0, 0, 1);
	
}

/* 체크박스 안쪽 영역 설정 */
.checkboxMenu {
	background-color: rgb(255, 255, 255);
	border-radius: 0 0 7px 7px;
	padding: 10px 10px 20px 10px;
	box-sizing: border-box;
	
	border-radius: 7px;
    box-shadow: 0 0px 14px -8px rgba(0, 0, 0, 1);
}

.checkboxMenu> li > span{
	margin-left:5px;
}

/* 적용하기 버튼 */
#checkSubmit{
	width:100%;
	border:none;
	border-radius: 5px;
	padding : 5px 0 5px 0 ;
	background-color: rgb(255, 79, 79);
	margin-top:10px;
	
	color: white;
    font-weight: 700;
    font-size: 14px;
}

/* 검색 내용 위치 영역 지정 */

.schContents {
	position: relative;
	margin: 0 auto;
    width: 900px;
}

/* 제품 띄워줄 전체 영역 설정 */

.productbox{
	top: 25px;
    width: 1000px;
    position: relative;
    left: 3.3%;
}


/* 단일 제품 전체 영역 설정 */
.innerproBox{
    position: relative;
    display: inline-block;
    background: rgb(255, 255, 255);
    box-shadow: 0 0px 18px -8px rgba(0, 0, 0, 1);
    border-radius: 10px;
    margin:10px;
    margin-bottom:50px;
}



.product {
	justify-content: center;
    display: flex;
    box-sizing: border-box;
    width: 450px;
    background: rgb(255, 255, 255);
    padding: 30px 20px 20px 20px;
    border-radius: 10px 10px 0 0;

}


/* 제품 이미지 */

.textImg {
	margin-right: 30px;
    float: left;
    width: 130px;
    height: 180px;
    background: yellow;

}


/* 제품 정보 */
.Info{
	width: 210px;
	text-align: left;
}

/* 알레르기 유발 성분 포함 부분 */
.Info > p:nth-child(1){
	font-weight: 600;
    margin-bottom: 10px;
    color: red;
    text-align: center;
    border-radius: 7px;
    border: 1px solid red;
    padding: 2px;
}


/* 제조사 */
.Info > p:nth-child(2){
	font-size: 15px;
    color: gray;
}

/* 제품명 */
.Info > p:nth-child(3){
	font-weight: 600;
    margin: 8px 0 8px 0;
    font-size: 20px;
}


/* 즐겨찾기 버튼 위치 설정 */
.fvrbtnBox {
	right: 18%;
    bottom: 60px;
    position: absolute;
}

/* 장바구니 버튼 위치 설정*/
.bskbtnBox{
	right: 8%;
    bottom: 60px;
    position: absolute;
}

/* 즐겨찾기 담기 버튼 */
.fvrBtn {
	background: white;
	border: none;
}

/* 장바구니 담기 버튼 */
.bskBtn {
	background: white;
	border: none;
}

/* 구분선 및 태그 영역 */

/* 구분선 */
.tag > hr {
	width: 82%;
    margin: 0 auto;
}

/* 태그 영역 */
.innerTag{
	margin: 10px 0 15px 9%;
	text-align: left;
}

.tag > div > span{
	padding: 2px 5px 2px 5px;
    background: #ffe0c6;
    margin-right:5px;
}

/* ----------------------------- 배너 영역 -----------------------------  */

/* 배너 띄우기 */
#banner {
	position: fixed;
	top: 25%;
	right: 13%;
	z-index: 10;

}

/* 마이페이지 즐겨찾기 장바구니 버튼 속성 */
#banner>a>p {
	width: 130px;
	border-radius: 5px;
	text-align: center;
	padding: 7px;
	margin-bottom: 10px;
	background:  #A2DD98;;
	
	color: white;
	font-weight: 600;
    font-size: 14px;
}

/* 최근 본 상품 버튼 */
.recent > p {
	border-radius: 5px 5px 0 0;
    width: 130px;
    text-align: center;
    padding: 7px;
    margin-bottom: 15px;
    background: #FFD159;
    color: white;
    font-weight: 600;
    font-size: 14px;
	
}

.recent{
	/* 그림자 설정 */
	box-shadow: 0 0px 14px -8px rgba(0, 0, 0, 1);
}


.recentbox {
	/* ul 스타일 삭제 및 여백 리셋  */
	margin: 0;
	padding: 0;
	background-color: rgb(255, 255, 255);
	/* 가운데 정렬 */
	text-align: center;
	/* 하단 여백 */
	padding: 0 0 20px 0;
	/* 하단 둥글기 설정 */
	border-radius: 0 0 7px 7px;
}

/* 배너 상품이미지 사이즈 고정 */
.bannerImg {
	width: 80px;
	margin-top: 10px;
}

/* 배너 상품 이름 너비 고정 */
.bannerProname{
	width:120px;
	margin: 0 auto;
}


/* 구분선 길이 */
.recentbox>li>hr {
	margin: 0 auto;
	width: 80%;
	margin-top: 10px;
}


/* 상단으로 이동 */
#bannerTopbtn{
	text-align: center;
	
}
#bannerTopbtn>button{
	margin-top: 15px;
    background: white;
    color: white;
    border: none;
}
#bannerTopbtn>button>span{
	background: #FFD159;
    padding: 10px;
    border-radius: 50px;
    box-shadow: 0 0px 14px -8px rgba(0, 0, 0, 1);
}


/* ---------------------팝업창--------------------- */

/* 팝업 전체 영역지정 */
#modal{
	position: fixed;
	width:100%;
	height:100%;
	left:0;
	top:0;
	background-color:rgba(0,0,0,0.5);
	display: none;
	z-index: 20;
}

/* 팝업창 속성*/
#innerModal{
	margin:0 auto;
	margin-top:15%;
	width: 500px;
	padding:50px;
	background-color: white;
	border-radius: 10px;
}

/* 팝업창 제목 */
.popupTitle{
	
	font-size: 20px;
    font-weight: 700;
	
}

/* 제목 및 설명단 여백 설정 */
.editAllergy{
	margin-bottom: 10px;
	width: 480px;
    margin: 0 auto;
}


/* 구분선 */
.editAllergy > hr{
	margin: 5px 0 5px 0;
}

/* 팝업창 서브제목 */
.subtext{
	font-size: 13px;
}

/* 전체 버튼 여백 */
.popupBtn{
	margin-top:10px;
	text-align: center;
}


/* 저장하지 않기 버튼 */
#nosaveBtn{
	box-sizing: border-box;
    font-weight: 700;
    width: 230px;
    background: white;
    font-size: 18px;
    color: #ff3b42;
    border: 1px solid;
    padding: 10px 5px 10px 5px;
}

/* 저장하기 버튼 */
#saveBtn{
	box-sizing: border-box;
    font-weight: 700;
    width: 230px;
    background: #ff3b42;
    font-size: 18px;
    color: white;
    border: 1px solid #ff3b42;
    padding: 10px 5px 10px 5px;
    
    margin-right: 14px;
}

/* 체크박스 css */

.checkboxList {
	width: 450px;
	margin: 0 auto;
	text-align: center;
	
	margin-bottom: 80px;
    font-weight: 600;
    font-size: 19px;
    
  
}

.innerCheckbox{
	text-align: left;
	width: 450px;
	margin: 0 auto;
	
	margin-top: 20px;
}

.checkboxItem{
	float:left;
	margin-right: 10px;
}

.checkbtn{
	margin-right:12px;
	margin-left:12px;
}





/* ----------------------------- 페이징 번호 구역 -----------------------------  */
#pagination-container {
	position: relative;
	width:100%;
	height: 100px;
	background-color: rgb(255, 255, 255);
	display: flex;
	justify-content: center;
	margin:20px 50px 50px 50px;
	margin-bottom:100px;
}

.selected {
	font-size: 25px;
}