/* 외부에서 폰트 불러오기 : noto sans */
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * {
	font-family: 'Noto Sans KR', sans-serif;
}

/* -----------------Header----------------- */

/* 전체 폰트 적용 및 기본 여백 삭제*/
* {
	margin: 0;
	padding: 0;
	font-family: 'Noto Sans KR', sans-serif;
}

/* a태그 기본 스타일 리셋 */
a {
	text-decoration: none;
	color: black;
}


li {
	list-style-type: none;
}

/* 전체 중앙 정렬 */
#wrap {
	margin: 0 auto;
}


/* 전체 header 크기 정의 */
#header {
	position: relative;
	width: 100%;
}

/* 안쪽 header 크기 정의 및 중앙 정렬 */
#innerHeader {
	position: relative;
	width: 1280px;
	margin: 0 auto;
}

/* 로그아웃, 마이페이지, 장바구니 버튼 및 사용자 환영 안내글*/
#topBtn {
	position: absolute;
	width: 100%;
	text-align: right;
}

/* 사용자 환영 안내글 상단 여백 */
#topBtn>p {
	margin-top: 15px;
}

/* 로고 및 검색창 */
#schBox {
	position: absolute;
	width: 100%;
	height: 90px;
	top: 60px;
}

/* 로고 */
#schBox>img {
	transform: translate(15%, 30%);
	margin-right: 50px;
	line-height: 90px;
}

/* 검색창 박스 전체 속성 변경 */
.schBar {
	display: inline;
}


/* 검색바 설정*/
#search {
	width: 78%;
	border: 1px solid #bbb;
	border-radius: 100px;
	padding: 10px 12px;
	font-size: 14px;
}

/* 외부에서 끌어온 돋보기 아이콘 css 전체 속성 */
.material-symbols-outlined {
	font-variation-settings:
		'FILL' 0,
		'wght' 400,
		'GRAD' 0,
		'opsz' 24
}

.iconBox {
	display: inline-block;
	position: absolute;
	top: 47%;
	bottom: 50%;
	right: 4.5%;
}

.schIcon {
	background: white;
	border: none;
}


/* 메뉴바 */
#nav {
	position: absolute;
	width: 100%;
	background-color: #8ED881;
	top: 170px;
	display: flex;
	justify-content: center;
}

#gnb {
	list-style-type: none;
	width: 100%;
	margin: 0 auto;
	padding: 0;
	display: flex;
	justify-content: center;
}

/* 전체 메뉴 정렬 및 비율 조정*/
#gnb>li {
	float: left;
	margin: 10px 7% 10px 7%;
}

/* 메뉴 안쪽 a태그 속성 정리 */
#gnb>li>a {
	color: white;
	font-weight: 500;
}

/* -----------------container----------------- */

#container {
	position: relative;
	width: 1280px;
	margin: 0 auto;
	top: 214px;
}


/* 서브 메뉴 */

/* 메뉴 전체 영역 */
#leftMenu {
	position: relative;
	float: left;
	width: 180px;
	top: 25px;
	left: 0;
}

/* 각 버튼 속성 */
.leftmenuBtn {
	width: 100%;
	background: red;
    box-sizing: border-box;
    padding: 7px;
    border: none;
    border-radius: 7px;
    margin-bottom: 10px;
    
}
/* 알레르기 추가 체크 서비스 버튼 */
.leftmenuBtn3 {
	margin:0;
	border-radius: 7px 7px 0 0;
}

/* 체크박스 안쪽 영역 설정 */
.checkboxMenu {
	background-color: rgb(128, 255, 128);
	border-radius: 0 0 7px 7px;
	padding: 10px 10px 20px 10px;
	box-sizing: border-box;
}

/* 적용하기 버튼 */
#checkSubmit{
	width:100%;
	border:none;
	border-radius: 5px;
	padding : 5px 0 5px 0 ;
	background-color: red;
	margin-top:10px;
}

/* 검색 내용 위치 영역 지정 */

.schContents {
	position: relative;
	left: 18%;
}

/* 제품 띄워줄 전체 영역 설정 */

.productbox{
	top: 25px;
    width: 960px;
    position: relative;
}


/* 단일 제품 전체 영역 설정 */
.innerproBox{
	top: 0;
    position: absolute;
    background: green;
    box-shadow: 0 0px 18px -8px rgba(0, 0, 0, 1);
}



.product {
	justify-content: center;
    display: flex;
    box-sizing: border-box;
    width: 450px;
    background: blue;
    padding: 20px;

}

.innerproBox2 {
	right: 0;
}

.innerproBox3 {
	top: 300px;
}

.innerproBox4 {
	top: 300px;
	right: 0;
}

.innerproBox5 {
	top: 600px;
}
.innerproBox6 {
	top: 600px;
	right: 0;
}

.innerproBox7 {
	top: 900px;
}

.innerproBox8 {
	top: 900px;
	right: 0;
}


/* 제품 이미지 */

.textImg {
	margin-right: 40px;
    float: left;
    width: 130px;
    height: 180px;
    background: yellow;

}

/* 즐겨찾기 버튼 위치 설정 */
.fvrbtnBox {
	right: 15%;
    bottom: 40px;
    position: absolute;
}

/* 장바구니 버튼 위치 설정*/
.bskbtnBox{
	right: 5%;
    bottom: 40px;
    position: absolute;
}

/* 즐겨찾기 담기 버튼 */
.fvrBtn {
	background: white;
	border: none;
}

/* 장바구니 담기 버튼 */
.bskBtn {
	background: white;
	border: none;
}


/* ----------------------------- 배너 영역 -----------------------------  */

/* 배너 띄우기 */
#banner {
	position: fixed;
	top: 25%;
	right: 11%;
	z-index: 10;

}

/* 마이페이지 즐겨찾기 장바구니 버튼 속성 */
#banner>a>p {
	width: 130px;
	border-radius: 5px;
	text-align: center;
	padding: 7px;
	margin-bottom: 15px;
	background: red;
	box-shadow: 0 0px 18px -8px rgba(0, 0, 0, 1);
}

/* 최근 본 상품 버튼 */
#banner>div>a>p {
	width: 130px;
	border-radius: 5px 5px 0px 0px;
	text-align: center;
	padding: 7px 7px 7px 7px;
	background: rgb(0, 64, 128);
	margin: 0;
	box-shadow: 0 0px 18px -8px rgba(0, 0, 0, 1);
}


.recentbox {
	/* ul 스타일 삭제 및 여백 리셋  */
	margin: 0;
	padding: 0;
	background-color: rgb(255, 255, 255);
	/* 가운데 정렬 */
	text-align: center;
	/* 그림자 설정 */
	box-shadow: 0 0px 18px -8px rgba(0, 0, 0, 1);
	/* 하단 여백 */
	padding: 0 0 20px 0;
	/* 하단 둥글기 설정 */
	border-radius: 0 0 7px 7px;
}

/* 배너 상품이미지 사이즈 고정 */
.recentbox>li>a>img {
	width: 80px;
	margin-top: 10px;
}

/* 구분선 길이 */
.recentbox>li>hr {
	margin: 0 auto;
	width: 80%;
	margin-top: 10px;
}


/* ---------------------팝업창--------------------- */

/* 팝업 전체 영역지정 */
#modal{
	position: fixed;
	width:100%;
	height:100%;
	left:0;
	top:0;
	background-color:rgba(0,0,0,0.5);
	display: none;
	z-index: 20;
}

/* 팝업창 속성*/
#innerModal{
	margin:0 auto;
	margin-top:15%;
	width: 500px;
	padding:50px;
	background-color: white;
}

/* 팝업창 제목 */
.popupTitle{
	
	font-size: 20px;
    font-weight: 700;
	
}

/* 제목 및 설명단 여백 설정 */
.editAllergy{
	margin-bottom: 10px;
}


/* 구분선 */
.editAllergy > hr{
	margin: 5px 0 5px 0;
}

/* 팝업창 서브제목 */
.subtext{
	font-size: 13px;
}

/* 전체 버튼 여백 */
.popupBtn{
	margin-top:10px;
	text-align: center;
}


/* 저장하지 않기 버튼 */
#nosaveBtn{
	box-sizing: border-box;
    font-weight: 700;
    width: 230px;
    background: white;
    font-size: 18px;
    color: red;
    border: 1px solid;
    padding: 10px 5px 10px 5px;
    margin-right:20px;
}

/* 저장하기 버튼 */
#saveBtn{
	box-sizing: border-box;
    font-weight: 700;
    width: 230px;
    background: red;
    font-size: 18px;
    color: white;
    border: 1px solid red;
    padding: 10px 5px 10px 5px;
}

/* ----------------------------- 페이징 번호 구역 -----------------------------  */
#pagination-container {
	position: relative;
	width:100%;
	background-color: pink;
	display: flex;
	justify-content: center;
}

.selected {
	font-size: 25px;
}