/* 외부에서 폰트 불러오기 : noto sans */
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * {
	font-family: 'Noto Sans KR', sans-serif;
}

/* -----------------Header----------------- */

/* 전체 폰트 적용 및 기본 여백 삭제*/
* {
	margin: 0;
	padding: 0;
	font-family: 'Noto Sans KR', sans-serif;
}

/* a태그 기본 스타일 리셋 */
a {
	text-decoration: none;
	color: black;
}


li {
	list-style-type: none;
}

/* 전체 중앙 정렬 */
#wrap {
	margin: 0 auto;
}


/* 전체 header 크기 정의 */
#header {
	position: relative;
	width: 100%;
}

/* 안쪽 header 크기 정의 및 중앙 정렬 */
#innerHeader {
	position: relative;
	width: 1280px;
	margin: 0 auto;
}

/* 로그아웃, 마이페이지, 장바구니 버튼 및 사용자 환영 안내글*/
#topBtn {
	position: absolute;
	width: 98%;
	text-align: right;
}

/* 사용자 환영 안내글 상단 여백 */
#topBtn>p {
	margin-top: 15px;
}


/* 사용자 이름 영역 */
.username{
	color: #ff3b42;
	font-weight:800;
}


/* 로고 및 검색창 */
#schBox {
	position: absolute;
	width: 100%;
	height: 90px;
	top: 60px;
	
	align-items: center;
    justify-content: center;
    display: flex;
	
}

#schBox > a{
	position: relative;
}


/* 로고 */
#schBox>a>img {
	margin-top: 20px;
}

/* 검색창 박스 전체 속성 변경 */
.schBar {
	margin-top: 30px;
    flex-basis: 80%;
    position: relative;
    margin-left: 20px;
	display: inline;
}


/* 검색바 설정*/
#search {
	width: 100%;
	border: 1px solid #bbb;
	border-radius: 100px;
	padding: 10px 12px;
	font-size: 14px;
}

/* 외부에서 끌어온 돋보기 아이콘 css 전체 속성 */
.material-symbols-outlined {
	font-variation-settings:
		'FILL' 0,
		'wght' 400,
		'GRAD' 0,
		'opsz' 24
}

.iconBox {
	display: inline-block;
	position: absolute;
    top: 8px;
    right: 10px;
}

.schIcon {
	background: white;
	border: none;
}


/* 메뉴바 */
#nav {
	position: absolute;
	width: 100%;
	background-color: #8ED881;
	top: 170px;
	display: flex;
	justify-content: center;
}

#gnb {
	list-style-type: none;
	width: 100%;
	margin: 0 auto;
	padding: 0;
	display: flex;
	justify-content: center;
}

/* 전체 메뉴 정렬 및 비율 조정*/
#gnb>li {
	float: left;
	margin: 10px 7% 10px 7%;
}

/* 메뉴 안쪽 a태그 속성 정리 */
#gnb>li>a {
	color: white;
	font-weight: 500;
}



/* ----------------------------container---------------------------- */

/* 전체 컨테이너 설정 */

#container{
	position: relative;
    top: 250px;
    left: 0;
    margin: 0 auto;
    width: 1280px;
}

/* 제품 info */

#productInfo{
	height: auto;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 420px;
    background: white;
}

/* 상품 이미지 */
.proImg{
	position: relative;
	width: 300px;
    background: black;
    float: left;
    left: 12.3%;
}

.proImg > img{
	width: 100%;
}


/* 상세 제품 설명 내용 */

.proMoreInfo{
	position: relative;
    display: inline-block;
    top : 10%;
    left: 18%;
}

/* 알레르기 유발 성분 포함 제목 */

.includedAll{
    width: 210px;
    padding: 4px 0px 4px 0px;
    text-align: center;
	border: 1px solid;
    border-radius: 7px;
	color:red;
	margin-bottom: 30px;
}

/* 제조사 속성 */
.company {
	margin-bottom: 10px;
    font-size: 20px;
    color: gray;
}

/* 제품명 속성 */
.proSubject{
	margin-right: 15px;
    font-size: 35px;
    font-weight: 600;
}

/* 중량 속성 */
.weight{
	font-size: 30px;
}

/* 가격 속성 */
.proPrice{
	font-weight: 500;
    margin-top: 15px;
    font-size: 30px;
}


/* 상품 설명단 하단 여백 */
.moreInfo{
	margin-bottom: 40px;
}

/* 장바구니 구매하기 버튼 */
.productBtn > a {
	width: 245px;
    display: inline-block;
    background:  #FF4B32;
	color: white;
	margin-right:15px;
}


/* 장바구니 버튼 */

.proBtn{
	display: block;
	text-align: center;
	font-weight: 800;
    color: #ff3b42;
    background: white;
    border: 1px solid #FF3B42;
    padding: 10px 20px 10px 20px;
    font-size: 18px;
}

/* 구매하기 버튼 */
.proPurchase{
    color: white;
    background: #ff3b42;
    border: 1px solid #FF3B42;
}



/* ------------------베스트 리뷰 탭------------------ */

.bestReview{
	margin: 0 auto;
    top: 300px;
    position: absolute;
    left: 140px;
    width: 1000px;
    height: auto;
    box-sizing: border-box;
    padding: 15px;
    background: rgb(255, 255, 255);
}

/* 리뷰 아이콘 */
.heartIcon{
	color:red;
	position: absolute;
}

/* 베스트 리뷰 리뷰 제목 */ 
.bestReview>span:nth-child(2){
	margin-left:26px;
	font-weight: 500;
}

.bestReviewbox{
	margin-top:7px;
    border: 1px solid rgb(0, 0, 0);
    padding: 7px;
    border-radius: 5px;
    box-sizing: border-box;
}

/* 상품 상세설명 네비게이션바 */

#containerMenu{
	position: relative;
    top: 0px;
    width: 100%;
    left: 0;
    background:#8ED881;
    padding: 10px 0px 10px 0px;
    border-radius: 7px;
    margin-bottom: 30px;
     
    font-weight: 600;
}

.innerConmenu{
	display: flex;
    list-style-type: none;
    justify-content: center;
}

.innerConmenu>li{
	justify-content: center;
	flex-basis: 20%;
	text-align: center;
}

.innerConmenu>li>span{
	display: inline-block;
    width: 200px;
}

/* 서브 네비게이션 바 폰트 속성 */
.innerConmenu>li>span>a{
	display: inline-block;
    width: 220px;
    text-align: center;
    color:white;
}



/* 알레르기 성분 안내 탭 */
.allergyInfo{
	position: relative;
    padding: 25px 30px 25px 40px;
    border-radius: 7px;
    margin-bottom: 30px;
    background: #FEFFD8;
}
.allergyInfo > p {
	margin: 0;
    float: left;
    margin-right: 35px;
    
    font-weight:800;
}

/* 알레르기 해시태그 */
.innerAllergy>span{
	display: inline-block;
    width: 70px;
    background-color: #ff3b42;
    margin-right:5px;
    color:white;
}

.allergyInfo > div > span{
    text-align: center;
}

#container > .infoBox{
	position: relative;
    top: 0px;
}



/* 영양성분 데이터 탭 */

.nutrient{
	border-radius: 7px;
    margin-bottom: 30px;
    background: #FEFFD8;
}

.nutrient>p{
	padding: 25px 30px 25px 40px;
	font-weight:800;
}

/* 영양정보 차트 영역 */

.chart{
	justify-content: center;
    display: flex;
    padding-bottom: 30px;
}

.chartbox{
	width: 400px;
}



/* 세부 원재료명 및 함량 탭 */


.details{
	border-radius: 7px;
    margin-bottom: 30px;
    background: #FEFFD8;
}
.details > p:nth-child(1){
	margin: 0;
    padding: 30px 30px 25px 40px;
    font-weight:800;
}

.details > p:nth-child(2){
	margin: 0;
    width: 1280px;
    box-sizing: border-box;
    padding: 0px 40px 40px 40px;
}


/* 추천 상품 탭 */

.chuTitle > h2{
	text-align: center;
}

.chuTitle > p{
	text-align: center;
	margin-top:20px;
}

.chucheon{
	height:350px;
}

.chucheon > div > div{
	display: flex;
    justify-content: center;
}


.chucheon > div > div > div> a > div{
	width:150px;
	height:200px;
	background-color: white;
}

/* 추천 상품 설명란 */
.chuSubtitle{
	margin-bottom:40px;
}

/* 슬라이드 영역 */
.slider{
	position:relative;
	margin:0 auto;
}

.slides{
	width: 200px;
	height: 200px;
	border-radius: 7px;
	margin: 0 10px 0 10px;
	background-color: white;
	box-shadow: 0 0px 14px -8px rgba(0, 0, 0, 1);
}

/* 버튼 */

#prev{
	position: absolute;
	top: 80px;
    left: 10%;
   	background: none;
    border: none;
    cursor: pointer;
}

#next{
	position: absolute;
    top: 80px;
	right: 10%;
	background: none;
    border: none;
    
    cursor: pointer;
}


#next > span{
	padding: 3px;
    font-size: 35px;
    color: white;
    background: #FFD159;
    border-radius: 50px;
    box-shadow: 0 0px 14px -8px rgba(0, 0, 0, 1);
}

#prev > span{
	padding: 3px;
    font-size: 35px;
    color: white;
    background: #FFD159;
    border-radius: 50px;
    box-shadow: 0 0px 14px -8px rgba(0, 0, 0, 1);
}

/* 상품 전체 리뷰 탭 */
.review{
	position: relative;
	margin-top: 25px;
}

/* 리뷰 제목 */
.review > p{
	background: #FFD159;
    border-radius: 7px;
    margin-bottom: 10px;
    padding: 10px 30px 10px 40px;
    
    font-weight:800;
	color:white;
}

/* 저장된 리뷰란 */
.reviewContent{
	margin-bottom: 7px;
    padding: 10px 0px 7px 25px;
    border-radius: 5px;
    background: #FEFFD8;
}

/* 정렬 및 세부조정란 */
.review > form > div {
	text-align: center;
}

/* 등록된 리뷰 사용자 명 */
.review > div > div > p > span:nth-child(1){
	margin: 20px;
	font-weight:800;
}

.review > form > div > input[type=text]:nth-child(2){
	width: 85%;
    margin-right: 10px;
 	border:none;
 	border-radius: 5px;
 	padding-left:5px;
}


/* 등록할 리뷰 사용자 명 속성 */
.inputReview>span{
	margin-right: 10px;
	font-weight:800;
}


/* 리뷰 작성 영역 */
.inputReview{
	background: rgb(251, 232, 142);
    padding: 10px 0px 10px 0px;
    margin:20px 0 500px 0;
    border-radius: 5px;
}

/* 리뷰작성 텍스트 창 */
#reviewInput{
	border: none;
}

/* 리뷰 등록 버튼 */
.inputReview > input[type=submit]:nth-child(3){
	font-weight: 600;
    padding: 2px 10px 2px 10px;
    border-radius: 5px;
    background: #ff3b42;
    color: white;
    border: none;
}

/* 슬라이드 테스트 페이지 */

.swiper-container {
	height:420px;
	border:5px solid silver;
	border-radius:7px;
	box-shadow:0 0 20px #ccc inset;
}
.swiper-slide {
	text-align:center;
	display:flex; /* 내용을 중앙정렬 하기위해 flex 사용 */
	align-items:center; /* 위아래 기준 중앙정렬 */
	justify-content:center; /* 좌우 기준 중앙정렬 */
}
.swiper-slide img {
	box-shadow:0 0 5px #555;
	max-width:100%; /* 이미지 최대너비를 제한, 슬라이드에 이미지가 여러개가 보여질때 필요 */
	/* 이 예제에서 필요해서 설정했습니다. 상황에따라 다를 수 있습니다. */
}

/* ----------------------------- 배너 영역 -----------------------------  */

/* 배너 띄우기 */
#banner {
	position: fixed;
	top: 25%;
	right: 7.5%;
	z-index: 10;

}

/* 마이페이지 즐겨찾기 장바구니 버튼 속성 */
#banner>a>p {
	width: 130px;
	border-radius: 5px;
	text-align: center;
	padding: 7px;
	margin-bottom: 10px;
	background:  #A2DD98;;
	
	color: white;
	font-weight: 600;
    font-size: 14px;
}

/* 최근 본 상품 버튼 */
.recent > p {
	border-radius: 5px 5px 0 0;
    width: 130px;
    text-align: center;
    padding: 7px;
    margin-bottom: 15px;
    background: #FFD159;
    color: white;
    font-weight: 600;
    font-size: 14px;
	
}

.recent{
	/* 그림자 설정 */
	box-shadow: 0 0px 14px -8px rgba(0, 0, 0, 1);
}


.recentbox {
	/* ul 스타일 삭제 및 여백 리셋  */
	margin: 0;
	padding: 0;
	background-color: rgb(255, 255, 255);
	/* 가운데 정렬 */
	text-align: center;
	/* 하단 여백 */
	padding: 0 0 20px 0;
	/* 하단 둥글기 설정 */
	border-radius: 0 0 7px 7px;
}

/* 배너 상품이미지 사이즈 고정 */
.bannerImg {
	width: 80px;
	margin-top: 10px;
}

/* 배너 상품 이름 너비 고정 */
.bannerProname{
	width:120px;
	margin: 0 auto;
}


/* 구분선 길이 */
.recentbox>li>hr {
	margin: 0 auto;
	width: 80%;
	margin-top: 10px;
}


/* 상단으로 이동 */
#bannerTopbtn{
	text-align: center;
	
}
#bannerTopbtn>button{
	margin-top: 15px;
    background: white;
    color: white;
    border: none;
}
#bannerTopbtn>button>span{
	background: #FFD159;
    padding: 10px;
    border-radius: 50px;
    box-shadow: 0 0px 14px -8px rgba(0, 0, 0, 1);
}
